.main {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1vh;
    padding: 0px;
    margin: 0px;
    padding-top: 60px;
    padding-left: 60px;
}

@media (max-width: 789px) {
    .main {
        padding-left: 0px;
        margin-left: 0px;
    }
}

html {
    scrollbar-color: grey black;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    padding: 0px;
    cursor: pointer;
}

input {
    height: 39px;
    border-radius: 100px;
    background-color: black;
    color: white;
    padding-left: 20px;
    border: 1px solid grey;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    position: absolute;
    right: 0;
    left: 3vw;

    box-sizing: border-box;

    outline: none;
    padding-top: 0px;
}

input::placeholder {
    color: white;
    opacity: 0.7;
}

sup {
    font-size: 10px;
}

svg {
    padding: 0px;
    margin: 0px;
    width: 32px;
    height: 32px;
    display: inline-block;
}